<div class="plank">
    <h4>Key</h4>
    <div class="key">
        <ul>
            <li><strong>CT: </strong>Connecticut</li>
            <li><strong>GNH: </strong>Greater New Haven region</li>
            <li><strong>NHV low-income: </strong>Low-income neighborhoods in New Haven</li>
            <li><strong>Other NHV: </strong>Non-low-income neighborhoods in New Haven</li>
        </ul>
    </div>

</div>
