<div class="definition">
    <h4>Definitions</h4>
    <dl>
        {{#each definitions}}
            <dt>
                {{ this.word }}
            </dt>
            <dd>
                {{ this.definition }}
            </dd>
        {{/each}}
    </dl>
</div>
