<div class="key">
    <h4>Key</h4>
    <ul>
        <li><span class="glyphicon glyphicon-arrow-up arrow-key"></span> trending upward</li>
        <li><span class="glyphicon glyphicon-arrow-down arrow-key"></span> trending downward</li>
        <li><span class="glyphicon glyphicon-minus arrow-key"></span> no significant trend</li>
        <li><span class="glyphicon glyphicon-stop positive"></span> positive change</li>
        <li><span class="glyphicon glyphicon-stop negative"></span> negative change</li>
        <li><span class="glyphicon glyphicon-stop neutral"></span> neutral / no change</li>
    </ul>
</div>
