<div class="definition targets">
    <h4>2020 Targets</h4>
    <dl>
        {{#each targets}}
            <dt>{{ this.name }}</dt>
            <dd>{{ this.content }}</dd>
        {{/each}}
    </dl>
</div>
